:root {
  --dark: #444;
  --ltmid: #DDD;
  --dkmid: #999;
  --light: #F9F9F9;
  --accent: #6495ed;
}
body {
  color: var(--dark);
  line-height: 1.4;
}
a {color: var(--accent); font-weight: 500; text-decoration: none; transition: all .2s ease-in-out;}
a:visited {color:#305eb3;}
a:hover {color: var(--accent);}
a:active {color: var(--dkmid);}

header.top-nav {
  background-color: var(--ltmid);
  padding: 1rem 2rem 1rem 0;
  display: flex;
  min-height: 8rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
nav {
  flex-basis: 30%;
  display: flex;
  justify-content: space-between;
}
a.nav-link {
  padding-left: 2.8rem;
  color: var(--dark);
  font-weight: 500;
  text-decoration: none;
  transition: all .2s ease-in-out;
}
a.nav-link:hover {
  color: var(--accent);
}
a.nav-link.logo {
  text-transform: uppercase;
  font-weight: 900;
}
a#trigram {
  display: none;
}
a#trigram::before {
  content: '\2630';
  font-size: 4rem;
  position: relative;
  top: -.5rem;
  right: 0;
}
@media screen and (max-width: 990px) {
  .nav-wrap {
    display: none;
  }
  .nav-wrap.mobile {
    position:absolute;
    z-index: 10;
    top: 7rem;
    right: 0;
    width: 100%;
    padding: 0 2rem 2rem 2rem;
    background: var(--ltmid);
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
  }
  .nav-wrap.mobile a {
    display: block;
    width: 100%;
    text-align: right;
    padding: 2rem 2rem;
    margin: 0;
  }
  .nav-wrap.mobile a:hover {
    background-color: var(--light);
  }
  a#trigram {
    display: inherit;
  }
  a#trigram.tri-mobile::before {
    content: '\00D7';
  }
}
main {
  padding: 1rem 2rem;
}
/*-- slideshow styles--*/
.slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slides {
  width: 100%;
  padding: 0;
  margin: 0;
}
.slides {
  display: none;
}
.slides img {
  padding: 0;
}
.thumbs {
  display: flex;
  gap: 1rem;
}
.thumbs img {
  opacity: .5;
  cursor: pointer;
  transition: all .25s ease-in-out;
  border: 2px dotted transparent;
}
.thumbs img:hover, img.active {
  opacity: 1;
}
img.active {
  border: 2px dotted var(--accent);
}
.controls {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
}
.controls button {
  cursor: pointer;
  position: absolute;
  color: var(--light);
  background-color: rgba(0,0,0,0.2);
  border: none;
  padding: 0 2.2rem 1.5rem 2rem;
  border-radius: 3px;
  font-weight: 800;
  font-size: 8rem;
  transition: 0.2s ease;
}
.controls button:hover {
  color: var(--accent);
  background-color: rgba(0,0,0,0.7);
}
.controls button:nth-child(1) {
  left: 1%;
}
.controls button:nth-child(2) {
  right: 1%;
}
.caption-wrap {
  position: absolute;
  bottom: .5rem;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  padding: .5rem 1rem;
  font-size: 2.2rem;
  text-align: center;
  color: var(--ltmid);
}
/*-- 
hero bar styles
--*/
.hero {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--ltmid);
  width: 100vw;
  margin: 2rem 0 1rem -2rem;
}
.hero > * {
  margin: 0;
  padding: 0;
}
/*-- 
Grid and card styles
--*/
.grid-cont {
  padding: 2rem 0;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
}
.card {
  padding: 2%;
  max-width: 40rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 2px dashed var(--dkmid);
  background-color: var(--light);
  transition: all .2s ease-in-out;
}
.card:hover {
  background-color: transparent;
  border-color: var(--dark);
  border-style: solid;
}
.card:hover .open-modal {
  background-color: var(--light);
}
.card img {
  width: 100%;
  height: auto;
  max-height: 320px;
  border-radius: 8px 8px 0 0;
}
.open-modal {
  width: 42%;
  min-width: 6rem;
  margin: 2rem auto;
  padding: 1rem 2rem;
  cursor: pointer;
  color: var(--dark);
  font-weight: 500;
  border: 2px dashed var(--dark);
  transition: all .2s ease-in-out;
  background-color: transparent;
  border-radius: 2px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.open-modal:hover {
  color: var(--dark);
  border: 2px dashed var(--dark);
}
.card:hover .open-modal:hover {
  background-color: transparent;
  border-style: solid;
}
.open-modal svg {
  fill: none;
  width: 1.5em;
  height: 1.5em;
}
.open-modal:hover svg {
  animation-name: bounce;
  transform-origin: center bottom;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }
  40%, 43% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -.5rem, 0);
  }
  70% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -.25rem, 0);
  }
  90% {
    transform: translate3d(0,-.1rem,0);
  }
}
.card-content h4 {
  font-size: 2.5rem;
  margin: 3rem auto 0 auto;
  padding: 0 2rem;
  line-height: 1;
}
.card-content p:first-of-type {
  font-size: 1.6rem;
  margin: .75em auto;
  padding: 0 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
  width: 100%;
  overflow: hidden;
}
.card-content p:not(:first-of-type) {
  display: none;
  margin: .75em auto;
  padding: 0 2rem;
}
/*-- 
Modal content styles
--*/
#modal-wrap {
  display: none;
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30,30,30,0.95);
}
#modal-wrap.show {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}
#modal-wrap.show .card-content {
  position: relative;
  width: 120rem;
  margin: auto;
  background-color: var(--light);
  color: var(--dark);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0 2%;
  border: 2px solid var(--light);
  animation: fadein .3s ease-in-out;
}
#modal-wrap.show .card-content p {
  -webkit-line-clamp: none;
}
#modal-wrap.show .card-content p:not(:first-of-type) {
  display: inherit;
}
@keyframes fadein {
  from{transform:scale(.1);} /*-- modal grows from very small to full size--*/
}
article .close {
  display: none;
}
.close {
  position: absolute;
  top: .5rem;
  right: .5rem;
}
.close-btn {
  font-size: 2.5rem;
  cursor: pointer;
  background-color: rgba(255,255,255,0.8);
  border: 2px solid var(--dark);
  border-radius: 100%;
  padding: 0rem .8rem .37rem .8rem;
  transition: all .2s ease-in-out;
}
.close-btn:hover {
  background-color: var(--accent);
  color: var(--light);
  border-color: var(--accent);
}
/*-- 
Footer styles
--*/
footer {
  margin-top: 2rem;
  background-color: var(--ltmid);
  padding: 1rem 2rem;
  display: flex;
  height: 8rem;
  justify-content: space-between;
  align-items: center;
}
footer p {
  width: 100%;
  text-align: center;
  font-weight: 500;
}
/*-- 
Media Queries
--*/
@media screen and (min-width: 768px) {
  .grid-cont {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 990px) {
  .grid-cont {grid-template-columns: repeat(2, 1fr);}
  .controls button {top: 40%;}
}
@media screen and (min-width: 1280px) {
  .grid-cont {grid-template-columns: repeat(3, 1fr);}
  #modal-wrap.show .card-content {grid-template-columns: 1fr 1fr;}
  .close {grid-column: auto; justify-self: end;}
  #modal-wrap.show .card-content h4 {margin-top: 4rem;}
}
@media screen and (min-width: 1440px) {
  .grid-cont {grid-template-columns: repeat(4, 1fr);}
}